@import url(http://fonts.googleapis.com/css?family=Istok+Web);
body {
  padding-top: 90px;
  padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
span.field-validation-error {
  color: red;
  font-weight: bold;
}
.voffset {
  margin-top: 2px;
}
.voffset1 {
  margin-top: 5px;
}
.voffset2 {
  margin-top: 10px;
}
.voffset3 {
  margin-top: 20px;
}
.voffset4 {
  margin-top: 40px;
}
.voffset5 {
  margin-top: 80px;
}
/* Bootstrap Overrides */
.popover {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.navbar-inverse {
  background-color: #ff4342;
  border-color: #ff4342;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .notifications {
  position: relative;
}
.navbar-inverse .notifications .badge {
  position: absolute;
  top: 8px;
  right: -1px;
  background: #a80a0a;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgba(205, 40, 39, 0.55);
}
.dropdown-menu {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-brand {
  font-weight: 700;
}
body {
  font-size: 17px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  font-size: 17px;
  height: 44px;
  -ms-border-radius: 9px;
  border-radius: 9px;
  transition: none;
  -webkit-transition: none;
}
.form-control:focus {
  box-shadow: none;
}
.btn {
  /*font-size: 17px;
    padding: 7px 20px;*/
  -ms-border-radius: 9px;
  border-radius: 9px;
}
/* Page-level styles */
.gigs {
  list-style: none;
}
.gigs > li {
  position: relative;
  margin-bottom: 50px;
}
.gigs > li .date {
  background: red;
  color: white;
  text-align: center;
  width: 60px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
.gigs > li .date .month {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 6px;
}
.gigs > li .date .day {
  background: #f7f7f7;
  color: #333;
  font-size: 14px;
  padding: 6px 12px;
}
.gigs > li .details {
  position: absolute;
  top: 0;
  left: 70px;
}
.gigs > li .details .artist {
  font-weight: bold;
  display: block;
}
.gigs > li .details .genre {
  font-size: 14px;
  display: block;
  margin-bottom: 4px;
}
.gigs > li .actions {
  font-size: 15px;
  display: none;
}
.gigs > li:hover .actions {
  display: block;
}
.popover-notifications .popover-content {
  padding: 0;
}
.popover-notifications ul.notifications {
  list-style: none;
  padding-left: 0;
}
.popover-notifications ul.notifications > li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.popover-notifications ul.notifications > li:last-child {
  border-bottom: none;
}
.popover-notifications ul.notifications .highlight {
  font-weight: bold;
}
#searchGigs {
  width: 400px;
}
#searchGigs input {
  max-width: none;
}
#addComments {
  width: 1100px;
}
#addComments input {
  max-width: none;
}
button.glyphicon {
  top: 0;
  font-size: 36px;
}
.input-group-addon {
  padding: 0 0;
}
@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
}
* {
  box-sizing: border-box;
}
body,
figure {
  margin: 0;
  font-weight: 100;
}
div#captioned-gallery {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
figure.slider {
  position: relative;
  width: 500%;
  font-size: 0;
  animation: 10s slidy infinite;
}
figure.slider figure {
  width: 20%;
  height: auto;
  display: inline-block;
  position: inherit;
}
figure.slider img {
  width: 100%;
  height: auto;
}
figure.slider figure figcaption {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  font-size: 2rem;
  padding: .6rem;
}
.box6 {
  margin: 20px auto;
  width: 1100px;
  min-height: 70px;
  padding: 10px;
  position: relative;
  margin-left: 0;
  background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#ffffff), to(#f3f3f3), color-stop(0.1, #ffffff));
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  -webkit-border-top-left-radius: 60px 5px;
  -webkit-border-top-right-radius: 60px 5px;
  -webkit-border-bottom-right-radius: 60px 60px ;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}
.box6:before {
  content: '';
  width: 25px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-border-bottom-right-radius: 30px;
  -webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(-20deg) skew(-40deg, -3deg) translate(-13px, -13px);
}
.box6:after {
  content: '';
  z-index: -10;
  width: 150px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  -webkit-box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(0deg) translate(-45px, -20px) skew(20deg);
}
.box6_corner_lf {
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -6;
  display: inline-block;
  -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(2deg) translate(20px, 25px) skew(20deg);
}
.box6_corner_rt {
  content: '';
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  position: absolute;
  display: inline-block;
  z-index: -6;
  -webkit-box-shadow: 10px -10px 8px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(2deg) translate(-14px, 20px) skew(-20deg);
}
.box6 img {
  width: 100%;
  margin-top: 15px;
}
p {
  margin-top: 15px;
  text-align: justify;
}
/*# sourceMappingURL=site.css.map */