@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to ConcertCenter!</h2>


<div id="captioned-gallery">
    <figure class="slider">
        <figure>
            <img src="~/pics/coldplay.jpg">
            <figcaption>Coldplay</figcaption>
        </figure>
        <figure>
            <img src="~/pics/bruno.jpeg">
            <figcaption>Bruno mars</figcaption>
        </figure>
        <figure>
            <img src="~/pics/taylor.jpeg">
            <figcaption>Taylor Swift</figcaption>
        </figure>

        <figure>
            <img src="~/pics/caspian.jpeg">
            <figcaption>caspian</figcaption>
        </figure>
    </figure>
</div>
<div>
    <p>
          In the ConcertCenter,you can look all the upcoming concerts in ConcertSpace section if you a music fan. Furthermore,
        you can choose the concerts to go,the artist you want to follow and leave a commnet. And all this information can be checked 
        in your profile. On the other hand, if you are an artist you can add your own's upcoming concerts and edit them.
        The information of those concerts will be uploaded to the website for others to choose and you will be one of their followees~~.
        Sounds interesting right? Let's enjoy it!
    </p>
</div>